html {
  font-size: 13px;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  color: #2C2C2C;
}

img {
  max-width: 100%;
  height: auto;
}

h1 h2 h3 h4 h5 h6 {
  margin: 10px 0;
}

p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #2C2C2C;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.header {
  position: relative;
  height: 110px;
  box-shadow: rgba(0, 0, 0, 0.1490196078) 0px 2px 4px 0px;
  z-index: 1;
}
.header .container {
  width: 100%;
}
.header .hidden-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .header .hidden-desktop {
    display: none;
  }
}
@media (min-width: 344px) {
  .header .hidden-desktop .header__menu-toggle {
    cursor: pointer;
    padding: 8px 10px;
    border: 2px solid #807D7E;
    border-radius: 8px;
  }
}
@media (min-width: 992px) {
  .header .hidden-desktop .header__menu-toggle {
    display: none;
  }
}
@media (min-width: 344px) {
  .header .header-logo {
    width: 91%;
    height: 100px;
    margin-left: 24px;
  }
}
@media (min-width: 480px) {
  .header .header-logo {
    margin-left: 7%;
  }
}
@media (min-width: 992px) {
  .header .header-logo {
    margin-left: 0;
  }
}
@media (min-width: 344px) {
  .header .header-menu {
    position: absolute;
    top: 111px;
    left: -100%;
    right: auto;
    z-index: 20;
    background-color: #666;
    transition: all 0.4s linear;
    padding: 15px;
    width: 100%;
    background-color: rgba(250, 235, 215, 0.897);
  }
  .header .header-menu.active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1002;
  }
  .header .header-menu ul {
    display: block;
    margin: 0;
  }
  .header .header-menu ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    padding: 15px 20px;
  }
  .header .header-menu ul li:nth-child(6) {
    border: none;
  }
  .header .header-menu ul li:nth-child(6) span {
    display: none;
  }
  .header .header-menu ul li:nth-child(7) {
    display: none;
  }
  .header .header-menu ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #2C2C2C;
    display: block;
  }
  .header .header-menu ul li:hover {
    background-color: #FFFFFF;
  }
  .header .header-menu ul li:last-child {
    border-bottom: none;
  }
}
@media (min-width: 992px) {
  .header .header-menu {
    position: static;
    padding: 0;
    background-color: inherit;
    transition: none;
  }
  .header .header-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 130px;
    margin-left: 30px;
  }
  .header .header-menu ul li {
    display: flex;
    align-items: center;
    height: 92px;
    padding: 0;
  }
  .header .header-menu ul li:nth-child(6) {
    border-bottom: 2px solid #46B20F;
  }
  .header .header-menu ul li:hover {
    border-bottom: 2px solid #46B20F;
  }
  .header .header-menu ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #2C2C2C;
  }
  .header .header-menu ul li:nth-child(6) a {
    color: #46B20F;
  }
  .header .header-menu ul li:hover a {
    color: #46B20F;
  }
  .header .header-menu ul li:nth-child(6) a {
    position: relative;
  }
  .header .header-menu ul li:nth-child(6) a span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -7px;
    right: -7px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #E05000;
    font-weight: 500;
    font-size: 10.83px;
    color: #FFFFFF;
  }
  .header .header-menu ul li:nth-child(6) {
    display: flex;
  }
  .header .header-menu ul li:nth-child(7) {
    display: flex;
  }
}
@media (min-width: 992px) {
  .header .header__menu-mobile {
    display: flex;
    align-items: center;
  }
}
.header .header__menu-mobile input[type=checkbox] {
  display: none;
}
.header .header__menu-mobile input[type=checkbox]:checked ~ .header-menu {
  left: 0;
  right: 0;
}

.banner {
  width: 100%;
  height: 77px;
  background-color: #F2FFEC;
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}
.banner .container {
  width: 1130px;
}
.banner .container h3 {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2C2C2C;
}
.banner .container h3 a {
  text-decoration: none;
  color: #46B20F;
}

.cart .container {
  position: relative;
  width: 44%;
}
@media (min-width: 344px) {
  .cart .container {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .cart .container {
    width: 55%;
  }
}
@media (min-width: 1440px) {
  .cart .container {
    width: 45%;
  }
}
.cart .container h3 {
  font-weight: 700;
  font-size: 22px;
  color: #000000;
  margin-bottom: 30px;
}
.cart .container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  height: 500px;
}
@media (min-width: 344px) {
  .cart .container table {
    width: 100%;
    height: auto;
    overflow-x: auto;
    display: block;
    white-space: nowrap;
  }
}
.cart .container table tr {
  border-bottom: 1px solid #CBCBCB;
}
@media (min-width: 344px) {
  .cart .container table tr {
    height: 99px;
  }
}
.cart .container table tr:nth-child(1) {
  height: 60px;
  border-bottom: none;
  background-color: #FFF0E7;
  border-radius: 3px;
}
.cart .container table tr th {
  width: 20%;
  height: auto;
}
.cart .container table tr th .bgr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: #F4F4F4;
  border-radius: 3px;
}
.cart .container table tr th .quantity-control {
  margin: 0 auto;
  position: relative;
  border: 1px solid #A7A7A7;
  border-radius: 3px;
  padding: 10px 16px;
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.cart .container table tr th .quantity-control .decrease-btn {
  font-size: 13px;
  color: #A7A7A7;
  cursor: pointer;
}
.cart .container table tr th .quantity-control span {
  font-size: 15px;
}
.cart .container table tr th .quantity-control .increase-btn {
  font-size: 13px;
  cursor: pointer;
}
.cart .container table tr th .icon {
  display: flex;
  width: 33px;
  cursor: pointer;
}
.cart .container table tr th .icon i {
  font-size: 16px;
}
.cart .container .btn {
  position: absolute;
  right: 0;
  margin-top: 3%;
  margin-right: 3%;
  width: 128px;
  height: 46px;
  background-color: #46B20F;
  border-radius: 6px;
  padding: 13px 11px;
  color: #FFFFFF;
}
.cart .container .btn:hover {
  background-color: #fff;
  color: #46B20F;
  border: 1px solid #46B20F;
  cursor: pointer;
}
.cart .container .bill {
  background-color: #FFF0E7;
  width: 395px;
  height: 295px;
  margin-top: 15%;
  padding: 30px 24px;
  margin-bottom: 10%;
  border-radius: 3px;
}
@media (min-width: 344px) {
  .cart .container .bill {
    width: 100%;
    margin-top: 50%;
    margin-bottom: 20%;
  }
}
@media (min-width: 500px) {
  .cart .container .bill {
    width: 395px;
  }
}
@media (min-width: 576px) {
  .cart .container .bill {
    margin-top: 35%;
  }
}
@media (min-width: 992px) {
  .cart .container .bill {
    margin-top: 24%;
  }
}
.cart .container .bill h3 {
  font-weight: 700;
  font-size: 21px;
  color: #2C2C2C;
  margin-bottom: 24px;
}
.cart .container .bill .total-product {
  display: flex;
  gap: 39%;
  width: 90%;
  height: 30px;
  margin-bottom: 5%;
}
.cart .container .bill .total-product p {
  font-weight: 600;
  font-size: 15px;
  color: #2C2C2C;
}
.cart .container .bill .total {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45%;
  border-top: 1px solid #CBCBCB;
  height: 20%;
  margin-bottom: 7%;
}
@media (min-width: 344px) {
  .cart .container .bill .total {
    gap: 21%;
  }
}
@media (min-width: 400px) {
  .cart .container .bill .total {
    gap: 34%;
  }
}
@media (min-width: 430px) {
  .cart .container .bill .total {
    gap: 40%;
  }
}
@media (min-width: 480px) {
  .cart .container .bill .total {
    gap: 47%;
  }
}
@media (min-width: 500px) {
  .cart .container .bill .total {
    gap: 45%;
  }
}
.cart .container .bill .total p {
  font-weight: 600;
  font-size: 15px;
  color: #2C2C2C;
}
.cart .container .bill .total .total-price {
  color: #E05000;
}
.cart .container .bill a .btn-2 {
  width: 100%;
  background-color: #2C2C2C;
  color: #FFFFFF;
  border-radius: 6px;
  padding: 13px 11px;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}
.cart .container .bill a .btn-2:hover {
  background-color: #fff;
  color: #2C2C2C;
  border: 1px solid #2C2C2C;
}

.oder {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 1124px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.oder.active {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.oder .hero {
  margin-bottom: 90px;
  height: 600px;
}
@media (min-width: 344px) {
  .oder .hero {
    height: auto;
    margin: 0;
  }
}
.oder .hero .container {
  width: 100%;
}
@media (min-width: 344px) {
  .oder .hero .container {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .oder .hero .container {
    width: 100%;
  }
}
.oder .hero .container .hero__content {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  height: 555px;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content {
    margin-top: 10%;
    height: auto;
  }
}
.oder .hero .container .hero__content .content {
  position: relative;
  width: 71%;
  margin-right: 10%;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content {
    margin: 0;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .oder .hero .container .hero__content .content {
    width: 70%;
  }
}
.oder .hero .container .hero__content .content .title1 {
  color: #46B20F;
  font-weight: 700;
  font-size: 34px;
  line-height: 132%;
  margin-bottom: 3%;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content .title1 {
    font-size: 24px;
  }
}
.oder .hero .container .hero__content .content .price {
  font-size: 24px;
  line-height: 132%;
  margin-bottom: 3%;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content .price {
    font-size: 14px;
  }
}
.oder .hero .container .hero__content .content .price span {
  font-size: 28px;
  font-weight: 700;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content .price span {
    font-size: 16px;
  }
}
.oder .hero .container .hero__content .content .combo {
  font-weight: 700;
  font-size: 28px;
  line-height: 132%;
  color: #2C2C2C;
  margin-bottom: 3%;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content .combo {
    font-size: 23px;
  }
}
.oder .hero .container .hero__content .content p {
  font-weight: 300;
  font-size: 14px;
  line-height: 170%;
  color: #787878;
  margin-bottom: 3%;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content p {
    font-size: 12px;
  }
  .oder .hero .container .hero__content .content p br {
    display: none;
  }
}
.oder .hero .container .hero__content .content .line {
  width: 55px;
  height: 1px;
  border: 2px solid #656565;
  background-color: #656565;
  margin-bottom: 3%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.oder .hero .container .hero__content .content .quantity {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content .quantity {
    font-size: 16px;
  }
}
.oder .hero .container .hero__content .content .quantity span {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}
.oder .hero .container .hero__content .content .quantity-control {
  position: absolute;
  top: 36%;
  right: 10%;
  border: 3px solid rgba(167, 167, 167, 0.5019607843);
  padding: 10px 16px;
  width: 130px;
  height: 55px;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content .quantity-control {
    top: 40%;
    right: -4%;
    width: 80px;
    height: 45px;
    gap: 14px;
    border: 2px solid rgba(167, 167, 167, 0.5019607843);
  }
}
@media (min-width: 448px) {
  .oder .hero .container .hero__content .content .quantity-control {
    top: 37%;
    right: 0%;
  }
}
@media (min-width: 507px) {
  .oder .hero .container .hero__content .content .quantity-control {
    top: 31%;
    right: 0%;
  }
}
@media (min-width: 992px) {
  .oder .hero .container .hero__content .content .quantity-control {
    top: 33%;
    right: 12%;
  }
}
.oder .hero .container .hero__content .content .quantity-control .decrease-btn {
  font-size: 13px;
  color: #A7A7A7;
  cursor: pointer;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content .quantity-control .decrease-btn {
    font-size: 10px;
  }
}
.oder .hero .container .hero__content .content .quantity-control span {
  font-size: 22px;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content .quantity-control span {
    font-size: 16px;
  }
}
.oder .hero .container .hero__content .content .quantity-control .increase-btn {
  font-size: 18px;
  cursor: pointer;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content .quantity-control .increase-btn {
    font-size: 10px;
  }
}
.oder .hero .container .hero__content .content input {
  position: relative;
  width: 90%;
  height: 55px;
  border-radius: 8px;
  border: 1px solid #A3A3A3;
  padding: 12px 16px;
  margin-bottom: 3%;
  padding-left: 11%;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content input {
    width: 100%;
    height: 45px;
    padding: 5% 19%;
    padding-bottom: 6%;
    margin-bottom: 4%;
  }
}
@media (min-width: 500px) {
  .oder .hero .container .hero__content .content input {
    padding: 4% 16%;
    padding-bottom: 4%;
    padding-bottom: 4%;
  }
}
@media (min-width: 576px) {
  .oder .hero .container .hero__content .content input {
    padding: 3% 13%;
    padding-bottom: 4%;
  }
}
@media (min-width: 700px) {
  .oder .hero .container .hero__content .content input {
    padding: 3% 11%;
    padding-bottom: 3%;
  }
}
@media (min-width: 860px) {
  .oder .hero .container .hero__content .content input {
    padding: 3% 10%;
    padding-bottom: 3%;
  }
}
@media (min-width: 992px) {
  .oder .hero .container .hero__content .content input {
    padding: 3% 14%;
    padding-bottom: 3%;
  }
}
@media (min-width: 1400px) {
  .oder .hero .container .hero__content .content input {
    padding: 3% 11.3%;
    padding-bottom: 3%;
  }
}
.oder .hero .container .hero__content .content .content-img__user, .oder .hero .container .hero__content .content .content-img__phone, .oder .hero .container .hero__content .content .content-img__email {
  position: absolute;
  top: 54%;
  right: 67%;
  width: 30%;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content .content-img__user, .oder .hero .container .hero__content .content .content-img__phone, .oder .hero .container .hero__content .content .content-img__email {
    top: 54%;
    right: 34%;
    width: 63%;
  }
}
@media (min-width: 400px) {
  .oder .hero .container .hero__content .content .content-img__user, .oder .hero .container .hero__content .content .content-img__phone, .oder .hero .container .hero__content .content .content-img__email {
    top: 53%;
  }
}
@media (min-width: 430px) {
  .oder .hero .container .hero__content .content .content-img__user, .oder .hero .container .hero__content .content .content-img__phone, .oder .hero .container .hero__content .content .content-img__email {
    top: 53%;
  }
}
@media (min-width: 448px) {
  .oder .hero .container .hero__content .content .content-img__user, .oder .hero .container .hero__content .content .content-img__phone, .oder .hero .container .hero__content .content .content-img__email {
    top: 51%;
  }
}
@media (min-width: 460px) {
  .oder .hero .container .hero__content .content .content-img__user, .oder .hero .container .hero__content .content .content-img__phone, .oder .hero .container .hero__content .content .content-img__email {
    top: 51%;
  }
}
@media (min-width: 507px) {
  .oder .hero .container .hero__content .content .content-img__user, .oder .hero .container .hero__content .content .content-img__phone, .oder .hero .container .hero__content .content .content-img__email {
    top: 47%;
  }
}
@media (min-width: 879px) {
  .oder .hero .container .hero__content .content .content-img__user, .oder .hero .container .hero__content .content .content-img__phone, .oder .hero .container .hero__content .content .content-img__email {
    top: 45%;
  }
}
@media (min-width: 992px) {
  .oder .hero .container .hero__content .content .content-img__user, .oder .hero .container .hero__content .content .content-img__phone, .oder .hero .container .hero__content .content .content-img__email {
    top: 47%;
  }
}
.oder .hero .container .hero__content .content .content-img__user img, .oder .hero .container .hero__content .content .content-img__phone img, .oder .hero .container .hero__content .content .content-img__email img {
  width: 20%;
}
@media (min-width: 500px) {
  .oder .hero .container .hero__content .content .content-img__user img, .oder .hero .container .hero__content .content .content-img__phone img, .oder .hero .container .hero__content .content .content-img__email img {
    width: 16%;
  }
}
@media (min-width: 576px) {
  .oder .hero .container .hero__content .content .content-img__user img, .oder .hero .container .hero__content .content .content-img__phone img, .oder .hero .container .hero__content .content .content-img__email img {
    width: 12%;
  }
}
@media (min-width: 700px) {
  .oder .hero .container .hero__content .content .content-img__user img, .oder .hero .container .hero__content .content .content-img__phone img, .oder .hero .container .hero__content .content .content-img__email img {
    width: 10%;
  }
}
@media (min-width: 860px) {
  .oder .hero .container .hero__content .content .content-img__user img, .oder .hero .container .hero__content .content .content-img__phone img, .oder .hero .container .hero__content .content .content-img__email img {
    width: 8%;
  }
}
@media (min-width: 992px) {
  .oder .hero .container .hero__content .content .content-img__user img, .oder .hero .container .hero__content .content .content-img__phone img, .oder .hero .container .hero__content .content .content-img__email img {
    width: 14%;
  }
}
@media (min-width: 1400px) {
  .oder .hero .container .hero__content .content .content-img__user img, .oder .hero .container .hero__content .content .content-img__phone img, .oder .hero .container .hero__content .content .content-img__email img {
    width: 10%;
  }
}
.oder .hero .container .hero__content .content .content-img__user p, .oder .hero .container .hero__content .content .content-img__phone p, .oder .hero .container .hero__content .content .content-img__email p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #A3A3A3;
  margin-bottom: 10px;
}
.oder .hero .container .hero__content .content .content-img__user p:active, .oder .hero .container .hero__content .content .content-img__phone p:active, .oder .hero .container .hero__content .content .content-img__email p:active {
  z-index: -1;
}
.oder .hero .container .hero__content .content .content-img__email {
  top: 65%;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content .content-img__email {
    top: 65%;
  }
}
@media (min-width: 400px) {
  .oder .hero .container .hero__content .content .content-img__email {
    top: 64%;
  }
}
@media (min-width: 430px) {
  .oder .hero .container .hero__content .content .content-img__email {
    top: 64%;
  }
}
@media (min-width: 448px) {
  .oder .hero .container .hero__content .content .content-img__email {
    top: 62%;
  }
}
@media (min-width: 460px) {
  .oder .hero .container .hero__content .content .content-img__email {
    top: 62%;
  }
}
@media (min-width: 507px) {
  .oder .hero .container .hero__content .content .content-img__email {
    top: 59.5%;
  }
}
@media (min-width: 768px) {
  .oder .hero .container .hero__content .content .content-img__email {
    top: 58.9%;
  }
}
@media (min-width: 879px) {
  .oder .hero .container .hero__content .content .content-img__email {
    top: 57.6%;
  }
}
@media (min-width: 992px) {
  .oder .hero .container .hero__content .content .content-img__email {
    top: 59.6%;
  }
}
@media (min-width: 1400px) {
  .oder .hero .container .hero__content .content .content-img__email {
    top: 59.3%;
  }
}
.oder .hero .container .hero__content .content .content-img__phone {
  top: 76%;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content .content-img__phone {
    top: 76%;
  }
}
@media (min-width: 400px) {
  .oder .hero .container .hero__content .content .content-img__phone {
    top: 75%;
  }
}
@media (min-width: 430px) {
  .oder .hero .container .hero__content .content .content-img__phone {
    top: 75%;
  }
}
@media (min-width: 448px) {
  .oder .hero .container .hero__content .content .content-img__phone {
    top: 73.5%;
  }
}
@media (min-width: 507px) {
  .oder .hero .container .hero__content .content .content-img__phone {
    top: 72%;
  }
}
@media (min-width: 700px) {
  .oder .hero .container .hero__content .content .content-img__phone {
    top: 71%;
  }
}
@media (min-width: 879px) {
  .oder .hero .container .hero__content .content .content-img__phone {
    top: 70%;
  }
}
@media (min-width: 992px) {
  .oder .hero .container .hero__content .content .content-img__phone {
    top: 72%;
  }
}
@media (min-width: 1400px) {
  .oder .hero .container .hero__content .content .content-img__phone {
    top: 71.5%;
  }
}
.oder .hero .container .hero__content .content .info-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 10px;
  width: 154px;
  height: 56px;
  border-radius: 8px;
  padding: 16px 14px;
  background-color: #46B20F;
  color: #FFFFFF;
  cursor: pointer;
  user-select: none;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__content .content .info-btn {
    width: 100px;
    height: 45px;
    padding: 10px 8px;
    font-size: 14px;
    margin-bottom: 10%;
  }
}
.oder .hero .container .hero__content .content .info-btn:hover {
  background-color: #226000;
}
.oder .hero .container .hero__image {
  position: relative;
  background-color: #DCFFCA;
  border-radius: 16.67px 0 0 16.67px;
}
@media (min-width: 344px) {
  .oder .hero .container .hero__image {
    display: none;
  }
}
@media (min-width: 992px) {
  .oder .hero .container .hero__image {
    display: block;
  }
}
.oder .hero .container .hero__image .hero__bg-circle, .oder .hero .container .hero__image .hero__chopsticks-1, .oder .hero .container .hero__image .hero__chopsticks-2 {
  position: absolute;
  top: 20%;
  left: -15%;
  width: 371px;
  height: 371px;
}
.oder .hero .container .hero__image .hero__chopsticks-1, .oder .hero .container .hero__image .hero__chopsticks-2 {
  top: 16%;
  left: -22%;
  width: 450px;
  height: 450px;
  z-index: 2;
}
@media (min-width: 992px) {
  .oder .hero .container .hero__image .hero__chopsticks-1, .oder .hero .container .hero__image .hero__chopsticks-2 {
    top: 16%;
    left: -18%;
  }
}
.oder .hero .container .hero__image .hero__chopsticks-2 {
  top: 22%;
  left: -26%;
  transform: rotate(-33deg);
  z-index: 1;
}
@media (min-width: 992px) {
  .oder .hero .container .hero__image .hero__chopsticks-2 {
    top: 20%;
    left: -26%;
  }
}
.oder .hero .container .hero__image .hero__text-bg {
  position: absolute;
  top: 19%;
  right: -15%;
  color: rgba(34, 96, 0, 0.1764705882);
  font-weight: 800;
  font-size: 140px;
  transform: rotate(90deg);
  display: inline-block;
  line-height: 100%;
}
.oder .close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -3%;
  right: -6%;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 2px solid #FF6916;
  cursor: pointer;
}
.oder .close i {
  color: #FF6916;
  font-size: 16px;
}
@media (min-width: 344px) {
  .oder .close {
    top: -4%;
    right: -5%;
  }
}
@media (min-width: 940px) {
  .oder .close {
    top: -3%;
    right: -3%;
  }
}

.success {
  display: none;
  position: fixed;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: rgba(243, 241, 241, 0.5568627451);
  border-radius: 7px;
  width: 30%;
  height: 500px;
  z-index: 1001;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 344px) {
  .success {
    width: 90%;
    height: 360px;
  }
}
@media (min-width: 576px) {
  .success {
    width: 80%;
    height: 400px;
  }
}
@media (min-width: 800px) {
  .success {
    width: 70%;
    height: 450px;
  }
}
@media (min-width: 992px) {
  .success {
    width: 60%;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .success {
    width: 50%;
    height: 450px;
  }
}
@media (min-width: 1400px) {
  .success {
    width: 40%;
    height: 500px;
  }
}
.success.active {
  display: flex;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.success .main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(243, 241, 241, 0.5568627451);
  border-radius: 7px;
}
@media (min-width: 450px) {
  .success .main {
    width: 100%;
    height: 124%;
  }
}
.success .main .img-success {
  width: 60%;
  margin: 0 auto;
}
.success .main h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  color: #46B20F;
  margin-top: 2%;
}
.success .main p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #2C2C2C;
  margin: 1%;
}
.success .main .close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -4%;
  right: -4%;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 2px solid #FF6916;
  cursor: pointer;
}
.success .main .close i {
  color: #FF6916;
  font-size: 16px;
}

.gc-footer {
  height: 407px;
  background-color: #F2FFEC;
}
@media (min-width: 344px) {
  .gc-footer {
    height: auto;
  }
}
.gc-footer .container {
  width: 900px;
  height: 300px;
  border-bottom: 2px solid #A3A3A3;
}
@media (min-width: 344px) {
  .gc-footer .container {
    width: 90%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .gc-footer .container {
    width: 58%;
  }
}
@media (min-width: 1400px) {
  .gc-footer .container {
    width: 43%;
  }
}
@media (min-width: 570px) {
  .gc-footer .container .footer-logo {
    width: 90%;
  }
}
@media (min-width: 710px) {
  .gc-footer .container .footer-logo {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .gc-footer .container .footer-logo {
    text-align: left;
    margin-bottom: 24%;
  }
}
@media (min-width: 992px) {
  .gc-footer .container .footer-logo {
    margin-bottom: 4%;
  }
}
@media (min-width: 1200px) {
  .gc-footer .container .footer-logo {
    text-align: left;
    width: 100%;
  }
}
.gc-footer .container .footer-logo img {
  margin-top: 29%;
}
@media (min-width: 344px) {
  .gc-footer .container .footer-logo img {
    margin-top: 19%;
  }
}
@media (min-width: 992px) {
  .gc-footer .container .footer-logo img {
    margin-top: 24%;
  }
}
.gc-footer .container .footer-logo p {
  margin-left: 30px;
  margin-top: 0px;
}
@media (min-width: 344px) {
  .gc-footer .container .footer-logo p {
    margin-left: 6%;
  }
  .gc-footer .container .footer-logo p br {
    display: none;
  }
}
.gc-footer .container .footer__column, .gc-footer .container .footer__column3, .gc-footer .container .footer__column1 {
  margin-top: 35%;
  margin-left: 3%;
}
@media (min-width: 570px) {
  .gc-footer .container .footer__column, .gc-footer .container .footer__column3, .gc-footer .container .footer__column1 {
    width: 90%;
  }
}
@media (min-width: 710px) {
  .gc-footer .container .footer__column, .gc-footer .container .footer__column3, .gc-footer .container .footer__column1 {
    margin-left: 24%;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .gc-footer .container .footer__column, .gc-footer .container .footer__column3, .gc-footer .container .footer__column1 {
    margin-top: 40%;
    margin-left: 0%;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .gc-footer .container .footer__column, .gc-footer .container .footer__column3, .gc-footer .container .footer__column1 {
    width: 100%;
    margin-left: 0;
  }
}
.gc-footer .container .footer__column h3, .gc-footer .container .footer__column3 h3, .gc-footer .container .footer__column1 h3 {
  font-weight: 600;
  margin-bottom: 15px;
  color: #46B20F;
}
@media (min-width: 344px) {
  .gc-footer .container .footer__column h3, .gc-footer .container .footer__column3 h3, .gc-footer .container .footer__column1 h3 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .gc-footer .container .footer__column h3, .gc-footer .container .footer__column3 h3, .gc-footer .container .footer__column1 h3 {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .gc-footer .container .footer__column h3, .gc-footer .container .footer__column3 h3, .gc-footer .container .footer__column1 h3 {
    text-align: left;
  }
}
.gc-footer .container .footer__column .info, .gc-footer .container .footer__column3 .info, .gc-footer .container .footer__column3 .info3, .gc-footer .container .footer__column1 .info, .gc-footer .container .footer__column .info2, .gc-footer .container .footer__column3 .info2, .gc-footer .container .footer__column1 .info2 {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0px;
}
@media (min-width: 344px) {
  .gc-footer .container .footer__column .info, .gc-footer .container .footer__column3 .info, .gc-footer .container .footer__column3 .info3, .gc-footer .container .footer__column1 .info, .gc-footer .container .footer__column .info2, .gc-footer .container .footer__column3 .info2, .gc-footer .container .footer__column1 .info2 {
    margin-bottom: 5%;
  }
}
.gc-footer .container .footer__column .info span, .gc-footer .container .footer__column3 .info span, .gc-footer .container .footer__column3 .info3 span, .gc-footer .container .footer__column1 .info span, .gc-footer .container .footer__column .info2 span, .gc-footer .container .footer__column3 .info2 span, .gc-footer .container .footer__column1 .info2 span {
  font-weight: 600;
  color: #2C2C2C;
  font-size: 13.33px;
  line-height: 20px;
}
@media (min-width: 344px) {
  .gc-footer .container .footer__column .info span, .gc-footer .container .footer__column3 .info span, .gc-footer .container .footer__column3 .info3 span, .gc-footer .container .footer__column1 .info span, .gc-footer .container .footer__column .info2 span, .gc-footer .container .footer__column3 .info2 span, .gc-footer .container .footer__column1 .info2 span {
    font-size: 10px;
  }
}
@media (min-width: 670px) {
  .gc-footer .container .footer__column .info span, .gc-footer .container .footer__column3 .info span, .gc-footer .container .footer__column3 .info3 span, .gc-footer .container .footer__column1 .info span, .gc-footer .container .footer__column .info2 span, .gc-footer .container .footer__column3 .info2 span, .gc-footer .container .footer__column1 .info2 span {
    font-size: 13px;
  }
}
.gc-footer .container .footer__column .info1, .gc-footer .container .footer__column3 .info1, .gc-footer .container .footer__column1 .info1 {
  display: flex;
}
@media (min-width: 344px) {
  .gc-footer .container .footer__column .info2, .gc-footer .container .footer__column3 .info2, .gc-footer .container .footer__column1 .info2 {
    margin-bottom: 24%;
  }
}
.gc-footer .container .footer__column1 {
  margin-left: 24%;
}
@media (min-width: 344px) {
  .gc-footer .container .footer__column1 {
    margin-left: 4%;
    text-align: center;
  }
}
@media (min-width: 560px) {
  .gc-footer .container .footer__column1 {
    margin: 0 auto;
    margin-top: 28%;
  }
}
@media (min-width: 768px) {
  .gc-footer .container .footer__column1 {
    margin-top: 40%;
    text-align: left;
    margin-left: 18%;
  }
}
@media (min-width: 992px) {
  .gc-footer .container .footer__column1 {
    margin-left: 20%;
    text-align: left;
    margin-top: 40%;
  }
}
.gc-footer .container .footer__column3 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 25%;
}
@media (min-width: 540px) {
  .gc-footer .container .footer__column3 {
    width: 80%;
    margin: 0 auto;
    margin-top: 24%;
  }
}
@media (min-width: 710px) {
  .gc-footer .container .footer__column3 {
    margin-right: 11%;
  }
}
@media (min-width: 768px) {
  .gc-footer .container .footer__column3 {
    width: 100%;
    margin-top: 40%;
  }
}
@media (min-width: 992px) {
  .gc-footer .container .footer__column3 {
    width: 100%;
    margin-right: 0;
  }
}
.gc-footer .container .footer__column3 h3 {
  margin-bottom: 5px;
}
@media (min-width: 344px) {
  .gc-footer .container .footer__column3 h3 {
    margin: 0 auto;
  }
}
@media (min-width: 450px) {
  .gc-footer .container .footer__column3 h3 {
    margin-bottom: 5%;
  }
}
@media (min-width: 560px) {
  .gc-footer .container .footer__column3 h3 {
    margin-bottom: 1%;
  }
}
@media (min-width: 768px) {
  .gc-footer .container .footer__column3 h3 {
    margin: 0;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .gc-footer .container .footer__column3 h3 {
    margin: 0;
  }
}
.gc-footer .container .footer__column3 .info, .gc-footer .container .footer__column3 .info3, .gc-footer .container .footer__column3 .info2 {
  margin: 3px 0px;
}
@media (min-width: 400px) {
  .gc-footer .container .footer__column3 .info, .gc-footer .container .footer__column3 .info3, .gc-footer .container .footer__column3 .info2 {
    margin-left: 5%;
  }
}
@media (min-width: 500px) {
  .gc-footer .container .footer__column3 .info, .gc-footer .container .footer__column3 .info3, .gc-footer .container .footer__column3 .info2 {
    margin-left: 12%;
  }
}
@media (min-width: 560px) {
  .gc-footer .container .footer__column3 .info, .gc-footer .container .footer__column3 .info3, .gc-footer .container .footer__column3 .info2 {
    margin-left: 15%;
  }
}
@media (min-width: 768px) {
  .gc-footer .container .footer__column3 .info, .gc-footer .container .footer__column3 .info3, .gc-footer .container .footer__column3 .info2 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .gc-footer .container .footer__column3 .info, .gc-footer .container .footer__column3 .info3, .gc-footer .container .footer__column3 .info2 {
    margin-left: 0;
  }
}
.gc-footer .container .footer__column3 .info3 {
  display: flex;
  align-items: start;
}
.gc-footer .container .footer__column3 p {
  margin-top: 0px;
}
.gc-footer .footer-buttom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  margin: 0 auto;
  margin-top: 1%;
}
@media (min-width: 344px) {
  .gc-footer .footer-buttom {
    width: 90%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .gc-footer .footer-buttom {
    width: 58%;
  }
}
@media (min-width: 1400px) {
  .gc-footer .footer-buttom {
    width: 43%;
  }
}
@media (min-width: 344px) {
  .gc-footer .footer-buttom .logo {
    width: 40%;
  }
}
.gc-footer .footer-buttom .icon {
  display: flex;
}/*# sourceMappingURL=cart.css.map */