.gc-news{
    margin-top: 7%;
    height: 576px;
    .container{
        position: relative;
        width: 50%;
        height: 100%;
        @media (min-width: 344px) {
            width: 90%;
        }
        @media (min-width: 1400px) {
            width: 45%;
        }
        .main1{
            display: flex;
            gap: 10%;
            height: 80%;
            justify-content: center;
            @media (min-width: 344px) {
                margin-top: 55%;
                flex-direction: column;
                align-items: center;
            }
            @media (min-width: 768px) {
                flex-direction: row;
                margin-top: 10%;
            }
            .img{
                width: 40%;
                height: 100%;
                @media (min-width: 344px) {
                    width: 90%;
                    height: auto;
                }
                @media (min-width: 1400px) {
                    width: 90%;
                    height: 100%;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    border-radius: 7px;
                }
            }
            .content1{
                margin-top: 3%;
                width: 36%;
                @media (min-width: 344px) {
                    width: 90%;
                }
                @media (min-width: 992px) {
                    margin-top: -15%;
                }
                @media (min-width: 1400px) {
                    margin-top: -10%;
                }
                span{
                    color: #46B20F;
                }
                h2{
                    margin-top: 10px;
                }
                p{
                    margin-top: 24px;
                }
                .button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    margin-top: 15%;
                    width: 153px;
                    height: 46px;
                    border-radius: 6px;
                    padding: 11px 21px;
                    border: 1px solid #46B20F;
                    cursor: pointer;
                    background-color: #fff;
                    font-weight: 700;
                    font-size: 14px;
                    color: #2C2C2C;
                    text-decoration: none;
                    &:hover{
                        background-color: #46B20F;
                        color: #fff;
                    }
                    i{
                        width: 12px;
                        height: 14px;
                    }
                }
            }
        }
        .main2{
            position: absolute;
            top: 68%;
            // left: 10%;
            @extend .main1;
            @media (min-width: 344px) {
                top: 100%;
                flex-direction: column-reverse;
            }
            @media (min-width: 500px) {
                margin-top: 66%;
            }
            @media (min-width: 644px) {
                margin-top: 85%;
            }
            @media (min-width: 768px) {
                margin-top: -26%;
                flex-direction: row;
            }
            @media (min-width: 860px) {
                margin-top: -18%;
            }
            @media (min-width: 992px) {
                margin-top: -16%;
            }
            @media (min-width: 1200px) {
                margin-top: -8%;
            }
            @media (min-width: 1400px) {
                margin-top: -17%;
            }
            .content2{
                @extend .content1;
                margin-top: 16%;
                @media (min-width: 344px) {
                    margin-top: 6%;
                }
            }

        }
    }
}