.gc-protects{
    position: relative;
    .background{
        position: absolute;
        width: 100%;
        height: 330px;
        bottom: 0;
        z-index: -1;
        background-color: #FFF0E7;
        @media (min-width: 344px) {
            display: none;
        }
        @media (min-width: 992px) {
            display: block;
        }
    }
    .container{
        width: 900px;
        height: 600px;
        @media (min-width: 344px) {
            width: 90%;
            height: auto;
        }
        @media (min-width: 992px) {
        }
        .title{
            text-align: center;
            h3{
                font-weight: 800;
                font-size: 26px;
                line-height: 132%;
                margin-bottom: 20px;
            }
            p{
                margin-bottom: 60px;
                br{
                    @media (min-width: 344px) {
                        display: none;
                    }
                }
                @media (min-width: 440px) {
                    margin-bottom: 26%;
                }
                @media (min-width: 992px) {
                    margin-bottom: 6%;
                }
            }
        }
        .row{
            .protects-item{
                @media (min-width: 344px) {
                    margin-bottom: 9%;
                }
                .content{
                    position: relative;
                    img{
                        position: absolute;
                        bottom: 97%;
                        width: 100%;
                    }       
                }
                .main{
                    margin-top: 160px;
                    background-color: #fff;
                    padding: 20px;
                    height: 160px;
                    border-radius: 0px 0px 8px 8px;
                    @media (min-width: 344px) {
                        margin-top: 50%;
                    }
                    span{
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 26px;
                        text-shadow: 0px 3.33px 3.33px #00000040;
                        color: #E05000;
                    }
                    p{
                        br{
                            @media (min-width: 344px) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}